

.sold {
    color: green;
}
.bought{
    color: dodgerblue;
}
.stock {
    color: darkred;
}

.spotlighttv {
    color: black;
}

.eurosign {
    color: red;
}

.price {
    color: black;
}

.screenitems {
    color: rebeccapurple;
}
