.outer-containerSales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 60px 60px;

}
.soldProducts-container {
    color: green;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    border: solid 1px green;
    background-color: #aedea9;

}

.boughtProducts-container {
        color:  blue;
        display: flex;
        flex-direction: column;
        width: 300px;
        text-align: center;
        border: solid 1px blue;
        background-color: #b7cff7;
}
.stockProducts-container {
    color: darkred;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    border: solid 1px darkred;
    background-color: #f7807c;
}

.bestSellingTv {
    display: flex;
    flex-direction: row;
    margin: 60px;
    border: dashed 1px black;
}
.spotlighttv {

    display: flex;
    flex-direction: row;
    align-content: space-around;
    gap: 40px;
    border: dashed 1px;
    border-radius: 4px;
    background-color: white;
    width: 1200px;
    padding: 40px;
    margin: auto;
}
.innerTextBlock {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.iconListSpecs {
    border: dashed 1px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.eurosign {
    color: red;
}

.price {
    color: black;
}

